@media screen and (min-width: 1280px) {
  .App {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin-left: 0;
  }
  .side-panel {
    position: static;
  }
}
@media screen and (min-width: 768px) {
  .App {
    margin-left: 280px;
  }
  .side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,0.5);
    border-bottom: none;
  }
}

.side-panel {
  padding: 10px;
  background-color: #EEEEEE;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
}

.settings {
  flex: 1;
}

.settings label {
  display: block;
  margin: 0.5em 0;
}

.settings input[type=number] {
  width: 50px;
  margin-left: 5px;
}

.previews {
  width: 540px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

#pdf-preview {
  flex: 1;
  height: 100vh;
}

dialog::backdrop {
  background: rgba(0,0,0,0.5);
}

.modal-close {
  border: none;
  background: none;
  position: absolute;
  right: 2em;
  cursor: pointer;
}

.measure-modal {
  margin: 1em auto;
  min-width: 600px;
}

